body {
    margin: 0;
    font-family: "Arial", sans-serif;
    color: #1b1b1b;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

.header {
    background-color: #252525;
    color: white;
    margin-bottom: 1em;
}

.header .container {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-weight: lighter;
    text-transform: uppercase;
}

.sign-up {
    padding: 0.5em 0.8em;
    border-radius: 0.3em;
    border: 0.1em solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.sign-up:hover {
    background-color: white;
    color: black;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.item {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    background-color: #3d3d3d;
}

/* модальное окно */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity .3s;
    visibility: hidden;
    opacity: 0;
}

.modal.opened {
    visibility: visible;
    opacity: 1;
}

.modal .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0.5em;
    padding: 2em;
    max-width: 300px;
    text-align: center;
}

.modal .title {
    color: #1b1b1b;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.modal .text {
    color: #1b1b1b;
}

.modal .close {
    position: absolute;
    top: 0;
    right: 0.2em;
    background-color: transparent;
    border: none;
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}

.modal .close:hover {
    color: #d40303;
}
