.actions {
    @include container;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    &__header-line {
        position: relative;
        height: 1px;
        width: 130px;
        background-color: $color-orange;

        &::before {
            position: absolute;
            width: 10px;
            height: 10px;
            top: -5px;
            left: -14px;
            @include decor-box;
            content: "";
        }

        &:last-of-type::before {
            left: auto;
            right: -15px;
        }
    }

    &__header-title {
        margin: 0 18px;
        font-family: "DidotLH Italic";
        font-size: 36px;
        font-weight: lighter;
        color: $color-orange;
    }

    &__slider-wrapper {
        margin-bottom: 25px;
    }
}
