.header {
    background-color: $color-beige;
    padding: 50px;

    &__wrapper {
        position: relative;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/header-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__top-row {
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: block;
        width: 211px;
        height: 38px;
        background-image: url(../img/Vapiano_logo.png);
    }

    &__slider-wrapper {
        position: relative;
    }

    &__slider-nav-list {
        @include reset-list;
        position: absolute;
        top: -50px;
        right: 70px;
        min-width: 105px;
        display: flex;
        justify-content: space-between;
    }

    &__slider-nav-button {
        width: 20px;
        height: 5px;
        background-clip: padding-box;
        border: 2px solid transparent;
        background-color: $color-beige;
        box-sizing: content-box !important; //glide js
        cursor: pointer;
    }

    &__slider-nav-button:hover,
    &__slider-nav-button:focus {
        background-color: white;
    }

    &__slider-nav-button--selected {
        outline: 2px solid white;
    }

    &__middle-row {
        margin-bottom: 101px;
    }

    &__slider {
        @include reset-list;
    }

    &__bottom-row {
        @include container;
    }
}
