$color-grey: #bdbdbd;
$color-grey-darker: #303332;
$color-grey-dark: #282729;
$color-beige: #e0dccd;
$color-beige-lighter: #d1d1ca;
$color-orange: #f2ab7f;
$color-orange-darker: #ee8c4f;

$color-footer-background: #1f1f21;
$color-description-text: #28272a;